<%- include(`${BASEPARTIALPATH}/head`) %>
<%- include(`${BASEPARTIALPATH}/header`) %>

<main>
  <article class="detail">
    <header>
      <h2>
        <%= commitData.committer.login %>
      </h2>
      <p><%= commitData.sha %></p>
    </header>
    <section class="detail--commit">
      <h3>
        <%= commitData.commit.message %>
      </h3>
      <p>
        <%= commitData.files.length %> Files changed
      </p>
      <% filePatches.forEach(patch => { %>
        <div class="detail--commit--file-patch">
          <h4>
            <%= patch.filename %>
          </h4>
          <% patch.patch.forEach(line => { %>
            <% if(line.charAt(0) === '-') { %>
              <p class="removed"><%= line %></p>
            <% } else if(line.charAt(0) === '+') { %>
              <p class="added"><%= line %></p>
            <% } else { %>
              <p><%= line %></p>
            <% } %>
        <% }) %>
        </div>
      <% }) %>
    </section>
  </article>
</main>

<%- include(`${BASEPARTIALPATH}/footer`) %>
<%- include(`${BASEPARTIALPATH}/foot`) %>
